.sidebar {
	flex-grow: 1;
	background-color: #075E54;
	color: #fff;
}

.sidebar__scrollbar {
	height: 100%;
	width: 100%;
}
.sidebar__rooms {
	height: calc(100vh - 3.67rem);
}

.sidebar_text {
	padding-left: 1rem;
}